# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Static build cache
.cache/
.next/

# Editor configuration
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Otros temporales
*.tmp
*.log

# Archivos del sistema
.DS_Store
Thumbs.db