.App {
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4A90E2, #1A2980);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input{
  position: absolute;
  left: 200px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: none;
  outline: none;
  transition: all 0.3s ease;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Estilo cuando el input está enfocado */
.input-group input:focus,
.input-group input:valid {
  border-color: #4A90E2;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #4A90E2;
}

/* Botón de enviar */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #4A90E2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #357ABD;
}

/* Opciones adicionales (links) */
.login-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-options a {
  color: #4A90E2;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.5s ease;
}

.login-options a:hover {
  color: #357ABD;
}

.qr-container {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 2px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.qr-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #888;
}

/* Adaptable para móviles */
@media (max-width: 768px) {
  .login-box {
      padding: 30px;
  }
}
