body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Solo el body tiene scroll */
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4A90E2, #1A2980);
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input{
  left: 200px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.register-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.register-box {
  width: 100%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  overflow: visible;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group, .input-group-error {
  position: relative;
  margin-bottom: 30px;
}

.error {
  position: relative;
  bottom: 25px;
  color: red;
}

.input-group-register {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.input-group input, .input-group-error input {
  width: calc(100% - 11px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: none;
  outline: none;
  transition: all 0.3s ease;
}

.input-group-error input {
  border-color: red;
}

.input-group-register input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.input-group label, .input-group-error label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

.password-toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.password-toggle-btn img {
  width: 20px; /* Ajusta el tamaño del icono si es necesario */
  height: 20px;
  object-fit: contain;
}

.repeatPassword-toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.repeatPassword-toggle-btn img {
  width: 20px; /* Ajusta el tamaño del icono si es necesario */
  height: 20px;
  object-fit: contain;
}

/* Estilo cuando el input está enfocado */
.input-group input:focus, .input-group-error input:focus
.input-group input:valid {
  border-color: #4A90E2;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label,
.input-group-error input:focus ~ label,
.input-group-error input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #4A90E2;
}

/* Botón de enviar */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #4A90E2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #4A90E2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #357ABD;
}

.register-btn:hover {
  background-color: #357ABD;
}

/* Opciones adicionales (links) */
.login-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-options a {
  color: #4A90E2;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.5s ease;
}

.login-options a:hover {
  color: #357ABD;
}

/* Adaptable para móviles */
@media (max-width: 768px) {
  .login-box {
      padding: 30px;
  }
}

.qr-container {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 2px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.qr-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #888;
}

.input-group button, .input-group-error button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right:-10px;
  border:none;
  appearance: none;
  background-color: inherit;
}

.input-group img, .input-group-error img{
  width: 30px;
}

.perfil-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  color: #333;
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
  position: relative;
}

.select-toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.select-toggle-btn img {
  width: 15px;
  height: 15px;
}

.edit-btn {
  background-color: #ffc107;
  color: #fff;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

.admin-buttons {
  position: absolute;
  left: 0px;
  top:0px;
}

.admin-btn {
  background-color: transparent;
}

.register-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.register-options p {
  margin-bottom: 5px;
}

.register-options a {
  color: #4A90E2;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.5s ease;
}

.register-options a:hover {
  color: #357ABD;
}
.user-validation-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: left;
}

.user-table th {
  background-color: #007BFF;
  color: #fff;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table td {
  border-bottom: 1px solid #ddd;
}

button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.validate-btn {
  background-color: #28a745;
  color: #fff;
}

.user-edit-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Sombra trasera similar a la ventana de confirmación */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.user-content{
  width: 120%;
  max-width: 1400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la ventana */
  position: relative;
  transform: translateX(-16%);
  overflow-y: auto;
}

.cancelar-btn {
  background-color: #dc3545;
  color: #fff;
}

.guardar-btn {
  background-color: #28a745;
  color: #fff;
}

.ventana-confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.confirmation-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.confirmation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.confirm-btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button :hover {
  opacity: 0.9;
}

/* Estilos para los botones de habilitar/deshabilitar */
.habilitar-btn {
  background-color: #28a745; /* Verde para habilitar */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deshabilitar-btn {
  background-color: #4f94cc; /* Rojo oscuro para deshabilitar */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para la fila de un usuario deshabilitado */
.disabled-user {
  background-color: #f2f2f2; /* Fondo gris para distinguir usuarios deshabilitados */
  color: #999; /* Texto atenuado */
}

.AdminCalendarapp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin-bottom: 70px;
}

.AdminCalendar-left-panel {
  width: 275px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  padding: 5px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
}

.AdminCalendar-left-panel h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.AdminCalendar-input-group {
  margin-bottom: 10px;
}

.AdminCalendar-input-group label {
  display: block;
  margin-bottom: 5px;
}

.AdminCalendar-input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.AdminCalendar-input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.AdminCalendar-button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.AdminCalendar-button-group button {
  padding: 8px 16px;
  border: none;
  background-color: #1e3a8a;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.AdminCalendar-button-group button:hover {
  background-color: #3b82f6;
}

.AdminCalendar-add-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-button {
  background-color: #1e3a8a;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.add-button:hover {
  background-color: #3b82f6;
}

.AdminCalendar-add-time p {
  margin-top: 10px;
  color: #1e3a8a;
}

.AdminCalendar-calendar-container {
  flex-grow: 1;
  max-width: 900px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.AdminCalendar-input-group input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.AdminCalendar-input-group div {
  display: inline-flex;
  align-items: center;
}

.calendar-wrapper {
  flex-grow: 1;           
  width: 100%;
}
/* Estilos del Pop-up */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-height: 520px;
  overflow-y: auto;
}

.areaTexto {
  width: 300px;
  height: 75px;
}

.save-button, .close-button {
  padding: 10px 20px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.save-button:hover, .close-button:hover {
  background-color: #3b82f6;
}

.close-button {
  background-color: #555;
}

.error {
  border-color: red;
}

/* Botones Ausencias de USUARIO */
.action-button {
  width: 40px; /* Ajusta según el tamaño deseado */
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  vertical-align: middle;
}

.details-button {
  background-color: #4f94cc; /* Color para el botón de detalles */
  color: #fff;
}

.action-button:hover {
  opacity: 0.9;
}

.error-fecha {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/*Mostrar Ausencias*/
.popup-container-ausencias {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
}

.popup-overlay-ausencias {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ausencias-list {
  list-style-type: none;
  padding: 0;
}

.ausencia-item {
  background: #f9f9f9;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ausencia-item:nth-child(odd) {
  background: #f1f1f1;
}

.ausencia-item p {
  margin: 5px 0;
  font-size: 14px;
}

.ausencia-item strong {
  color: #333;
  font-weight: bold;
}

.cancel-btn-ausencias {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn-ausencias:hover {
  background-color: #357ABD;
}

/* Estilos para UserOptions */
.user-options-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.user-options-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.option-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-btn:hover {
  background-color: #0056b3;
}

.create-admin-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #009e3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-admin-btn:hover {
  background-color: #008940;
}
.user-options-container h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

/* ===== Estilos para AdminGestionarHorariosDeTrabajo ===== */

/* Contenedor general del bloque de selección */
.work-hours-selector-group {
  position: relative;
  margin-bottom: 20px;
}

/* Estilo para el selector */
.work-hours-selector {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background: none;
  color: #333;
  transition: all 0.3s ease;
}

/* Estilo para la etiqueta flotante */
.work-hours-floating-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

.work-hours-selector:focus ~ .work-hours-floating-label,
.work-hours-selector:not(:placeholder-shown) ~ .work-hours-floating-label {
  top: -10px;
  font-size: 12px;
  color: #4A90E2;
}

/* Contenedor de cada bloque de trabajo */
.work-hours-block-container {
  margin-bottom: 20px; /* Espacio entre cada bloque */
}

/* Estilo para las etiquetas de los bloques */
.work-hours-block-label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

/* Grupo de entradas de hora y minuto */
.work-hours-input-group {
  display: flex;
  gap: 5px; /* Espacio entre los campos de hora y minuto */
}

/* Estilo para las entradas de hora y minuto */
.work-hours-input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease;
}

/* Estilo para las entradas con error */
.work-hours-input.error {
  border-color: red;
}

/* Botón de guardar */
.work-hours-save-button {
  width: 100%;
  padding: 10px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Espacio adicional debajo del botón de guardar */
}

.work-hours-save-button:hover {
  background-color: #357ABD;
}

/* Botón de cerrar */
.work-hours-close-button {
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.work-hours-close-button:hover {
  background-color: #333;
}

/* Admin Calendar View Styles */
.admin-calendar-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 70px;
}

.admin-calendar-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.calendar-wrapper {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

/*Calendario de Usuarios*/
.meeting-list-pending {
  margin-top: 5px;
  padding: 5px;
  max-height: 175px;
  overflow-y: auto;
}

.meeting-list-accepted {
  margin-top: 5px;
  padding: 5px;
  max-height: 175px;
  overflow-y: auto;
}

.meeting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.2; 
  background-color: #f9f9f9;
}

.meeting-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meeting-info {
  flex-grow: 1;
}

.meeting-buttons {
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
}

.meeting-actions {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.meeting-item.pending {
  background-color: #fff8b5; /* Amarillo apagado */
}

.meeting-item.accepted {
  background-color: #56b656; /* Verde claro */
}

.AdminCalendar-left-panel h3 {
  margin-top: 20px;
  margin-bottom: 3px;
}

/* Contenedor general del pop-up para invitar participantes */
.popup-container-participants {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; /* Alineación central */
}

.participant-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Lista de participantes disponibles */
.participant-list-available {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #f1f5f9;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  max-height: 125px; /* Ajuste a 125px como máximo */
  width: 100%; /* Ocupar todo el ancho del contenedor */
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Lista de participantes seleccionados */
.participant-list-selected {
  margin-top: 10px;
  padding: 5px;
  background-color: #e6fffa;
  border-radius: 8px;
  border: 1px solid #81e6d9;
  max-height: 125px; /* Ajuste a 125px como máximo */
  width: 100%; /* Ocupar todo el ancho del contenedor */
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; /* Alineación en columna */
}

/* Estilos para cada elemento de la lista de participantes */
.available-participant-item, .selected-participant-item {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(100% - 20px); /* Ajuste de ancho para encajar mejor */
}

/* Usuarios disponibles */
.available-participant-item {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #f8fafc;
  border: 1px solid #cbd5e1;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.available-participant-item:hover {
  background-color: #e2e8f0;
}

/* Usuarios seleccionados */
.selected-participant-item {
  padding: 1px 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-participant-item:hover {
  background-color: #bbf7d0;
}

.selected-participant-item.disponible {
  background-color: #d1f5d3; /* Verde claro */
}

.selected-participant-item.en-ausencia {
  background-color: #ffe08a; /* Ámbar */
}

.no-participants-message {
  width: 100%; /* Asegurar que el mensaje ocupe el mismo ancho que la lista */
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  color: #6b7280; /* Color de texto gris */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botón para guardar participantes */
.save-participants-button {
  width: 100%;
  padding: 12px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.save-participants-button:hover {
  background-color: #3b82f6;
}

/* Botón para cancelar la selección de participantes */
.close-participants-button {
  width: 100%;
  padding: 12px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.close-participants-button:hover {
  background-color: #777;
}

/* Estilo del contenedor del campo de búsqueda */
.search-participants-container {
  margin-bottom: 10px;
  width: 400px; /* Asegurar que el campo de búsqueda ocupa todo el ancho */
}

.search-participants-input {
  width: 400px;
  padding: 20px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Botones de acción en reuniones pendientes */
.action-reunion-button {
  width: 22px; /* Tamaño adecuado para los botones */
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.action-reunion-button img {
  width: 100%; /* Ajusta la imagen al tamaño del botón */
  height: 100%;
  object-fit: contain;
}

.accept-button img {
  filter: brightness(0.8) saturate(1.5); /* Ajustar colores para aceptar */
}

.reject-button img {
  filter: brightness(0.8) saturate(1.5) hue-rotate(120deg); /* Ajustar colores para rechazar */
}

.action-reunion-button:hover {
  transform: scale(1.1); /* Un pequeño zoom al pasar el cursor */
  opacity: 0.9;
}

.info-button {
  background-color: #007bff; /* Azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 34px; /* Ajusta el tamaño según tu preferencia */
  height: 30px; /* Ajusta el tamaño según tu preferencia */
  padding: 5px 7px;
  margin-left: auto;
  margin-right: 0.2px;
  transition: background-color 0.3s;
  display: flex;
}

.info-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.info-button img {
  width: 100%;
  height: 100%;
}

.papelera-btn {
  background-color: transparent;
  border: none !important;
  border-radius: 4px;
  cursor: pointer;
  width: 20px; /* Ajusta el tamaño según tu preferencia */
  height: 20px; /* Ajusta el tamaño según tu preferencia */
  padding: 4px;
  margin-left: auto;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.papelera-btn:hover {
  background-color: #da5454;
  transform: scale(1.1);
}

/* Botón de aceptar */
.accept-button {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 33px; /* Ajusta el tamaño según tu preferencia */
  height: 30px; /* Ajusta el tamaño según tu preferencia */
  padding: 5px 7px;
  margin-left: 0.2px;
  margin-right: 0.2px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accept-button:hover {
  background-color: #218838; /* Verde más oscuro al hacer hover */
}

/* Botón de rechazar */
.reject-button {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 34px; /* Ajusta el tamaño según tu preferencia */
  height: 30px; /* Ajusta el tamaño según tu preferencia */
  padding: 5px 7px;
  margin-left: 0.5px;
  margin-right: 1px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reject-button:hover {
  background-color: #c82333; /* Rojo más oscuro al hacer hover */
}

/* Barra de Navegación */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(237, 243, 245);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  box-sizing: border-box;
}

.navbar-logo img {
  width: 190px;  /* Ajusta este valor para que el logo sea más estrecho */
  height: auto;  /* Mantiene la proporción original de la imagen */
  max-height: 60px;  /* Asegúrate de que el logo no exceda la altura de la barra */
  object-fit: contain;  /* Asegura que la imagen no se distorsione */
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 2px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

.admin-btn, .user-calendar-btn{
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1px;
  padding: 0;
}

.user-calendar-btn img {
  width: 50px;
  height: 50px;
}

.profile-icon {
  cursor: pointer;
  width: 55px;
  height: 55px;
  margin-left: 10px;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  padding: 10px;
}

.navbar-profile:hover .dropdown-menu {
  display: none;
}

/* Dropdown visible solo cuando tenga la clase 'active' */
.navbar-profile.active .dropdown-menu {
  display: flex;
}

/* Ajustar el espaciado del contenido principal */
.main-content {
  margin-top: 120px; /* Ajustar según la altura de la barra */
}

/* VISUALIZACIÓN DE DATOS DEL USUARIO*/
.user-profile-view-container {
  padding: 20px;
  max-width: 600px;
  min-width: 400px;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.user-details p {
  margin-bottom: 10px;
}

.edit-profile-button {
  padding: 10px 20px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: #3b82f6;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.meeting-item.organized {
  background-color: #f3e5f5;  /* Color morado muy claro */
  border-left: 4px solid #9c27b0;  /* Borde izquierdo morado más oscuro */
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.meeting-item.organized:hover {
  background-color: #e1bee7;  /* Un tono morado un poco más oscuro al hacer hover */
}