/* LoadingSpinner */
.loading-spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-top: 5px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

/* Barra de Navegación */
.navbar-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(237, 243, 245);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 3px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	box-sizing: border-box;
}

.navbar-logo img {
	width: 190px;
	height: auto;
	max-height: 60px;
	object-fit: contain;
}

.navbar-profile {
	display: flex;
	align-items: center;
	gap: 2px;
}

.navbar-actions {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-left: auto;
}

.admin-btn, .user-calendar-btn{
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 1px;
	padding: 0;
}

.user-calendar-btn img {
	width: 50px;
	height: 50px;
}

.profile-icon {
	cursor: pointer;
	width: 55px;
	height: 55px;
	margin-left: 10px;
}

.profile-icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: none;
	flex-direction: column;
	padding: 10px;
}

.navbar-profile:hover .dropdown-menu {
	display: none;
}

.navbar-profile.active .dropdown-menu {
	display: flex;
}


/* Ventana de confiramcion */
.ventana-confirm {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1500;
}

.confirmation-content {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	max-width: 400px;
	width: 100%;
}

.confirmation-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.confirm-btn {
	background-color: #28a745;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.cancel-btn {
	background-color: #dc3545;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button :hover {
	opacity: 0.9;
}

/* ! ESTILOS CALENDARIO */

.AdminCalendarapp-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 20px;
	gap: 20px;
	max-width: 1200px;
	margin-bottom: 70px;
}

.main-content {
	margin-top: 120px;
}

.AdminCalendar-left-panel {
	width: 275px;
	background-color: white;
	border-radius: 8px;
	padding: 10px 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 100px;
}

/* * Reuniones Pendientes */
.meeting-list-pending {
	margin-top: 5px;
	padding: 5px;
	max-height: 175px;
	overflow: hidden;
}

.AdminCalendar-left-panel-h3 {
	margin-top: 20px;
	margin-bottom: 3px;
	font-size: 16px;
	font-weight: bold;
}

.meeting-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	background-color: #f9f9f9;
}

.meeting-item-pending {
	background-color: #fff8b5;
	border-left: 4px solid #f7d154;
}

.meeting-info {
	flex-grow: 1;
}

.meeting-actions {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.action-button {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.info-button {
	width: 24px;
	height: 24px;
}

.accept-button {
	width: 24px;
	height: 24px;
	background-color: #28a745; /* Verde */
}

.reject-button {
	width: 24px;
	height: 24px;
	background-color: #dc3545; /* Rojo */
}

.action-reunion-button {
	width: 22px;
	height: 22px;
	background-color: transparent;
	cursor: pointer;
}

.no-participants-message {
	text-align: center;
	color: #6b7280;
}

/* * Reuniones Aceptadas */
.meeting-list-accepted {
	margin-top: 5px;
	padding: 5px;
	max-height: 175px;
	overflow: hidden; /* Usar ScrollView en React Native */
}

.meeting-item-accepted {
	background-color: #90e689; /* Verde claro */
	border-left: 4px solid #0ee00e;
}

.meeting-item-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.meeting-buttons {
	margin-left: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info-button img {
	width: 100%;
	height: 100%;
}

/* * Reuniones Organizadas */
.meeting-list-organized {
	margin-top: 5px;
	padding: 5px;
	max-height: 175px;
	overflow: hidden;
}

.meeting-item-organized {
	border-left: 4px solid;
	margin-bottom: 8px;
	padding: 8px;
	border-radius: 4px;
	transition: background-color 0.2s;
}

.meeting-item-rejected-meeting {
	background-color: #ffcccc;
	border-left-color: #e57373;
}

.meeting-item-normal-meeting {
	background-color: #ce93d8;
	border-left-color: #9c27b0;
}

.modify-event-button {
	background-color: #e4e734;
	border-radius: 4px;
	cursor: pointer;
	width: 34px;
	height: 30px;
	padding: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modify-event-button img {
	width: 100%;
	height: 100%;
}

.delete-event-button {
	background-color: #eb5151;
	border-radius: 4px;
	cursor: pointer;
	width: 34px;
	height: 30px;
	padding: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete-event-button img {
	width: 100%;
	height: 100%;
}

/* * Signo + */
.AdminCalendar-add-time {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
}

.add-button {
	background-color: #1e3a8a;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.add-button:hover {
	background-color: #3b82f6;
}

.add-button-text {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.AdminCalendar-add-time-text {
	margin-top: 10px;
	font-size: 16px;
	color: #1e3a8a;
	text-align: center;
}


